<p class="room-status">Room works! 🎉</p>

<div *ngIf="state === 'create'" class="state">
    <form [formGroup]="createForm" (ngSubmit)="onCreate()">
        <h2>Create Your Room 🏠</h2>
        <p>Let's get this party started! 🎊</p>
        
        <label for="roomName">Room Name <span class="required">*</span>:</label>
        <input id="roomName" formControlName="roomName" placeholder="UNIQUE ROOM ID" (input)="onInputChange($event)" style="text-transform: uppercase;" />

        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" placeholder="Short Description [optional]"></textarea>

        <label for="duration">Duration in Hours <span class="required">*</span>:</label>
         <div class="slider-container">
            
            <input
                type="range"
                id="duration"
                formControlName="duration"
                min="1"
                max="12"
                step="1"
                class="styled-slider"
            />
            <span class="slider-value">{{ createForm.get('duration')?.value }} hrs</span>
        </div>
        
        <button type="submit">Create Room 🚀</button>
    </form>
</div>

<div *ngIf="state === 'enter'" class="state">
    <form [formGroup]="enterForm" (ngSubmit)="onEnter()">
        <h2>Enter Your Room 🚪</h2>
        <p>Let's get you in there! 🕺</p>
        
        <label for="roomId">Room ID:</label>
        <input id="roomId" formControlName="roomId" placeholder="UNIQUE ROOM ID" (input)="onInputChange($event)" style="text-transform: uppercase;" />
        
        <button type="submit">Enter Room 🎉</button>
    </form>
</div>

<div class="button-container">
    <button (click)="getRoomList()">List Rooms 📋</button>
</div>

<div *ngIf="state === 'loggedin'">
    <app-room-ui></app-room-ui>
</div>

<!-- <div *ngIf="selectedRoom"> selectedRoom {{ selectedRoom | json }}</div> -->
