<!-- <p class="room-status">Room is up and running! 🎉</p> -->

<div *ngIf="state === 'loggedin'" class="loggedin">
    <p>Ready to share?</p>
    <h1>{{username}} <i class="fas fa-hand-spock"></i></h1>
    <p><i class="fas fa-door-open"></i> Room: <strong>{{room?.id}}</strong></p>
    <p><i class="fas fa-hourglass-half"></i> Expires in: <strong>{{room?.duration}}</strong></p>
    <p><i class="fas fa-clock"></i> Time: {{time}}</p>

    <div class="messages" *ngFor="let message of roomData?.messages">
        <div class="message-container">
            <p>{{ message?.text }}</p>
            <label>{{message?.filename}}</label>
            <span class="timestamp">Time: {{message?.timestamp}}</span>
            <div *ngIf="message?.filePath; else copy">
                <button type="button" (click)="downloadFile(message.filePath)">
                    <i class="fas fa-download"></i> Download File
                </button>
            </div>
            <ng-template #copy>
                <button type="button" (click)="copyMessageText(message.text)">
                    <i class="fas fa-copy"></i> Copy
                </button>
            </ng-template>
        </div>
    </div>

    <div class="input">
        <label for="messageInput"><i class="fas fa-comment"></i> Message:</label>
        <input
            id="messageInput"
            type="text"
            [(ngModel)]="inputMessage"
            placeholder="Share a message"
        />
        <button type="button" (click)="saveMessage()">
            <i class="fas fa-paper-plane"></i> Send
        </button>
    </div>

    <div class="file-upload">
        <input type="file" #fileInput (change)="onFileSelected($event)" />
        <button type="button" (click)="uploadFile()">
            <i class="fas fa-upload"></i> Share File
        </button>
    </div>
</div>
