<div class="floating-button" *ngIf="state === 'home'">
    <button (click)="toggleConfig()">
        <i class="fas fa-cog"></i>
    </button>
</div>

<div *ngIf="toggler && state === 'home'" class="endpoints-container">
    <div class="configButtons">
        <button (click)="resetAll()">
            <i class="fas fa-redo"></i> Reset All
        </button>
    </div>

    <div class="button-container">
        <button (click)="getRoomList()">
            <i class="fas fa-list"></i> List Rooms
        </button>
    </div>
    
    <h2><i class="fas fa-network-wired"></i> Select an API Endpoint</h2>
    <div *ngFor="let endpoint of apiEndpoints"
         [ngClass]="{'inactive-endpoint': endpoint.active === 'inactive', 'active-endpoint': endpoint.active === 'active', 'checking-endpoint': endpoint.active === 'checking'}"
         class="endpoint">
        <label>
            <input
                type="radio"
                name="apiEndpoint"
                [value]="endpoint.url"
                [(ngModel)]="selectedEndpoint"
                (change)="updateSelectedEndpoint(endpoint.url)"
            />
            <span>{{ endpoint.title }}</span>
            <i class="fas"
               [class.fa-check-circle]="endpoint.active === 'active'"
               [class.fa-times-circle]="endpoint.active === 'inactive'"
               [class.fa-sync-alt]="endpoint.active === 'checking'"
               [class.fa-spin]="endpoint.active === 'checking'">
            </i>
        </label>
    </div>
</div>

<i class="version">v2025.08.03</i>
<p class="selected-endpoint">
    <i class="fas fa-check-circle"></i> Selected Endpoint: {{ selectedEndpoint }}
</p>

