<div class="floating-button" *ngIf="state === 'home'">
    <button (click)="toggleConfig()">⚙️</button>
</div>

<div *ngIf="toggler && state === 'home'" class="endpoints-container">
    <h2>Select an API Endpoint 🌐</h2>
    <div *ngFor="let endpoint of apiEndpoints" 
         [ngClass]="{'inactive-endpoint': endpoint.active === 'inactive', 'active-endpoint': endpoint.active === 'active', 'checking-endpoint': endpoint.active === 'checking'}"
         class="endpoint">
        <label>
            <input 
                type="radio" 
                name="apiEndpoint" 
                [value]="endpoint.url" 
                [(ngModel)]="selectedEndpoint"
                (change)="updateSelectedEndpoint(endpoint.url)"
            />
            <span>{{ endpoint.title }}</span>
        </label>
    </div>
</div>

<i class="version">v2024.12.15.01</i>
<p class="selected-endpoint">Selected Endpoint: {{ selectedEndpoint }}</p>
