<div class="floating-button" *ngIf="state === 'home'">
    <button (click)="toggleConfig()">Toggle Config</button>
</div>

<div *ngIf="toggler && state === 'home'">
    <div class="endpoints" *ngFor="let endpoint of apiEndpoints" [ngClass]="{'inactive-endpoint': endpoint.active ==='inactive', 'active-endpoint': endpoint.active === 'active', 'checking-endpoint' : endpoint.active === 'checking'}">
        <label>
            <input 
                type="radio" 
                name="apiEndpoint" 
                [value]="endpoint.url" 
                [(ngModel)]="selectedEndpoint"
                (change)="updateSelectedEndpoint(endpoint.url)"
            />
            {{ endpoint.title }} 
        </label>
    </div>
</div>
<i>v2024.09.26.01</i>
<p>Selected Endpoint: {{ selectedEndpoint }}</p>
