<p>room-ui works!</p>
<div *ngIf="state === 'loggedin'">
  <p>Hello, you are at </p><h1>{{username}}</h1>{{room.userId}}
  room-ui component<p>with ID {{room.id}}</p>

  <div class="contents">
    <ul>
      <li *ngFor="let message of roomData.messages">
        {{ message.text }} <span class="timestamp">time {{message.timestamp}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="input">
  <label for="messageInput">Message:</label>
  <input id="messageInput" type="text" [(ngModel)]="inputMessage" placeholder="Type your message here">
  <button (click)="saveMessage()">Send</button>

  <label for="fileUpload" class="visually-hidden">Upload a file:</label>
  <input id="fileUpload" type="file" (change)="fileUpload($event)">
</div>
<div *ngIf="room">ROOM {{ room |json }}</div>
