  <!-- Modal Popup -->
  <div *ngIf="showRoomKeyEntry" class="modal">
    <div class="modal-content">
      <span class="close-btn" (click)="closePopup()">&times;</span>
      <h2>Welcome to CpAndP!</h2>
      <p>Ready to enter The room? </p>
      <button (click)="onGoToRoomById()">Check-in to Room 🏠</button>
      <button (click)="closePopup()">No Thanks, I'm Good ❌</button>
    </div>
  </div>


<app-loading></app-loading>
<app-configurations [state]="state"></app-configurations>
<h1 align="center" class="main-title"><i><u><b>CpAndP Returns....</b></u></i></h1>
<h6 align="center">as alpha 🔤</h6>

<app-alert></app-alert>

<div *ngIf="state === 'home'" class="container">
    <h1>Welcome to the Home Page!</h1>
    <div class="button-container">
        <button (click)="createRoom()">Create Room 🏠</button>
        <button (click)="enterRoom()">Enter Room 🚪</button>
    </div>
</div>

<app-room *ngIf="state != 'home'"></app-room>

<div class="back-button-container">
    <button [disabled]="state == 'home'" (click)="backToHome()">🔙 Back to Home</button>
</div>

<div class="configButtons">
    <button (click)="resetAll()">🔄 Reset All</button>
</div>
