<div *ngIf="state === 'home'; else elseblock" class="container">
    <h1>Welcome to the Home Page</h1>
    <div class="button-container">
        <button (click)="createRoom()">Create Room</button>
        <button (click)="enterRoom()">Enter Room</button>
    </div>
</div>

<app-room *ngIf="state === 'enter' || state === 'create' || state === 'loggedin'" ></app-room>

<ng-template #elseblock>
    <div class="error-message">is working 😁 as {{state}}</div>
</ng-template>

<div class="back-button-container">
    <button (click)="backToHome()">Back to Home</button>
</div>
