<app-configurations [state]="state"></app-configurations>
<h1 align="center" class="main-title"><i><u><b>CpAndP Returns....</b></u></i></h1>

<app-alert></app-alert>

<div *ngIf="state === 'home'; else elseblock" class="container">
    <h1>Welcome to the Home Page!</h1>
    <div class="button-container">
        <button (click)="createRoom()">
            <i class="fas fa-plus-circle"></i> Create Room
        </button>
        <button (click)="enterRoom()">
            <i class="fas fa-sign-in-alt"></i> Enter Room
        </button>
    </div>
</div>

<app-room *ngIf="state === 'enter' || state === 'create' || state === 'loggedin'"></app-room>

<ng-template #elseblock>
    <!-- <div class="error-message">Oops! It’s working 😁 as {{state}}</div> -->
</ng-template>

<div class="back-button-container">
    <button (click)="backToHome()">
        <i class="fas fa-arrow-left"></i> Back to Home
    </button>
</div>

<div class="configButtons">
    <button (click)="resetAll()">
        <i class="fas fa-redo"></i> Reset All
    </button>
</div>
